@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Be Vietnam", sans-serif;
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 54px auto fit-content(53px);
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
}
.backdrop-show {
  visibility: visible;
}
.main-header {
  display: flex;
  background: #404040;
  align-items: center;
}
.header__brand {
  margin: 8px 10px;
}
.header__brand a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 26px;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  vertical-align: middle;
}
.main-nav__items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__item a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 18px;
  color: white;
}
.main-nav__items--side {
  list-style: none;
  display: flex;
  margin: 0 10px;
  padding: 0;
  align-items: center;
}
.main-nav__item--side a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}
.main-nav__item--side-search {
  margin-right: 20px;
}
.user__container {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.contained__image {
  width: 100%;
  height: 100%;
}
.dropdown-parent {
  position: relative;
}
.dropdown-parent a {
  padding: 13.5px 10px;
  cursor: pointer;
}
.dropdown-parent:hover .dropdown__items {
  max-height: 400px;
}
.dropdown {
  position: absolute;
  min-width: 100px;
  top: 40px;
  z-index: 100;
}
.special-dropdown {
  right: 0;
  top: 45px;
  position: absolute;
  min-width: 100px;
  z-index: 100;
}
.dropdown__items {
  list-style: none;
  margin: 0;
  background: #ecebeb;
  padding: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms linear 0ms;
  text-align: center;
}
.special-dropdown__items {
  list-style: none;
  margin: 0;
  background: #ecebeb;
  padding: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms linear 0ms;
  text-align: center;
}
.dropdown__item {
  display: block;
}
.dropdown__item a {
  color: #3a3b45;
  font-size: 1.05rem;
  /*margin: 10px;*/
  display: block;
  padding: 6px;
}
.dropdown__item a:hover {
  background-color: white;
}
.search-input {
  height: 30px;
  width: 250px;
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
  border: none;
}
.search-input:focus,
.search-button:focus {
  outline: none;
}
.search-button {
  height: 30px;
  width: 30px;
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  border: none;
  cursor: pointer;
  background-color: #cccccc;
}
.search-button:hover {
  background-color: #bbbbbb;
}
.error-container {
  width: 350px;
  padding: 20px;
  border: 1px solid #c40000;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0 0 0 4px #fadddd inset;
  text-align: center;
  background-color: white;
}
.error-title {
  margin: 0;
  color: #c40000;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 4px;
}
.error-body {
  margin: 0;
  font-size: 13px;
  line-height: 19px;
  color: #111111;
}
.footer-content {
  background-color: #404040;
}
.footer__items {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.footer__item {
  margin: 15px 0;
}
.footer__item p {
  margin: 0;
  padding: 0 15px;
  color: white;
}
.capital-case {
  text-transform: capitalize;
}
.open {
  max-height: 400px;
}
.movie-delete__modal {
  border: 1px solid #c9cadb;
  border-radius: 0.35rem;
  width: max-content;
  padding: 20px;
  position: absolute;
  top: 30%;
  left: 40%;
  background-color: white;
  visibility: hidden;
  min-width: 300px;
  z-index: 2;
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 300ms linear, transform 200ms ease-out,
    visibility 0s linear;
}
.movie-delete__modal-show {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.modal-title {
  text-align: center;
}
.modal-title p {
  margin: 0;
  color: #3a3b45;
  font-size: 15px;
  font-weight: 600;
}
.modal-action {
  text-align: center;
  margin-top: 12px;
}
.modal-accept__button,
.modal-decline__button {
  cursor: pointer;
  width: 60px;
  height: 30px;
  background-color: #747373;
  border: none;
  border-radius: 0.35rem;
  margin: 0 4px;
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.modal-accept__button:focus,
.modal-decline__button:focus {
  outline: none;
}
.modal-accept__button {
  background-color: #e12717;
}
.modal-decline__button:hover {
  background-color: #5a5a5a;
}
.modal-accept__button:hover {
  background-color: #c40000;
}
.pagination {
  width: max-content;
  margin: 1rem auto;
}
.pagination a {
  display: inline-block;
  text-decoration: none;
  color: #3a3b45;
  border: 1px solid #5e5e5e;
  margin: 0 4px;
  font-size: 15px;
  height: 32px;
  width: 32px;
  text-align: center;
  padding: 4px;
  line-height: 1rem;
  border-radius: 50%;
}
.pagination a:active {
  background-color: #5e5e5e;
  color: white !important;
}
.pagination-current {
  background-color: #5e5e5e;
  color: white !important;
}
