@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Be Vietnam", sans-serif;
  margin: 0;
  /*background: #ccc;*/
}
.main-header {
  display: flex;
  background: #404040;
  align-items: center;
}
.header__brand {
  margin: 8px 10px;
}
.header__brand a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 26px;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  vertical-align: middle;
}
.main-nav__items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__item a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 18px;
  color: white;
}
.main-nav__items--side {
  list-style: none;
  display: flex;
  margin: 0 10px;
  padding: 0;
}
.main-nav__item--side a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}
.user__container {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.contained__image {
  width: 100%;
  height: 100%;
}
.dropdown-parent {
  position: relative;
}
.dropdown-parent a {
  padding: 13.5px 10px;
  cursor: pointer;
}
.dropdown-parent:hover .dropdown {
  display: block;
}
.dropdown {
  position: absolute;
  min-width: 100px;
  top: 40px;
  display: none;
  z-index: 100;
}
.special-dropdown {
  right: 0;
  top: 45px;
  position: absolute;
  min-width: 100px;
  display: none;
  z-index: 100;
}
.dropdown__items {
  list-style: none;
  margin: 0;
  background: #ecebeb;
  padding: 0;
  text-align: center;
}
.dropdown__item {
  display: block;
}
.dropdown__item a {
  color: #3a3b45;
  font-size: 1.05rem;
  /*margin: 10px;*/
  display: block;
  padding: 6px;
}
.dropdown__item a:hover {
  background-color: white;
}
.error-container {
  width: 350px;
  padding: 20px;
  border: 1px solid #c40000;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0 0 0 4px #fadddd inset;
  text-align: center;
  background-color: white;
}
.error-title {
  margin: 0;
  color: #c40000;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 4px;
}
.error-body {
  margin: 0;
  font-size: 13px;
  line-height: 19px;
  color: #111111;
}
.footer-content {
  margin-top: 2rem;
  background-color: #404040;
}
.footer__items {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.footer__item {
  margin: 15px 0;
}
.footer__item p {
  margin: 0;
  padding: 0 15px;
  color: white;
}
.capital-case {
  text-transform: capitalize;
}
.open {
  display: block;
}
