extends ../layout/common

block style
    link(rel="stylesheet", href="/css/form.css")

block content
    main.main
        if msg
            div.error-container
                h3.error-title There was a problem
                p.error-body #{msg}
        div.form-container
            form.form(method='POST', action="/admin/signup" novalidate)
                div.form__title
                    h1 Welcome Back!
                div.form-input
                    label
                        input(type='text', placeholder="Enter Your Name", name="name")
                div.form-input
                    label
                        input(type='text', placeholder="Enter Email Address...", name="email")
                div.form-input
                    label
                        input(type='password', placeholder="Password", name="password")
                input(type="hidden", name="_csrf", value=_csrf)
                div.form-input
                    label
                        input(type='password', placeholder="Confirm Password", name="confirmPassword")
                div.signup
                    button.btn.btn-danger(type='submit') Sign Up
