<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/fontawesome/css/all.min.css")
        block style
    body
        div.backdrop
        header.main-header
            div.hamburger-menu
                span.hamburger-menu__bar
                span.hamburger-menu__bar
                span.hamburger-menu__bar
            div.header__brand
                a.header__brand--item(href="/") Rated
            div.navbar
                .main-nav
                    ul.main-nav__items
                        li.main-nav__item
                            a(href="/") Home
                        li.main-nav__item.dropdown-parent
                            a() Category
                            div.dropdown
                                ul.dropdown__items
                                    li.dropdown__item
                                        a(href='/movies/action') Action
                                    li.dropdown__item
                                        a(href='/movies/horror') Horror
                                    li.dropdown__item
                                        a(href='/movies/romantic') Romantic
                        if isLoggedIn
                            li.main-nav__item
                                a(href="/add-movie") Add Movie
                .main-nav__side
                    ul.main-nav__items--side
                        li.main-nav__item--side-search
                            form(method="POST", action="/movie/search")
                                input.search-input(type="text", name="searchMovie", onkeyup="searchField(this)")
                                button.search-button(type="submit", disabled)
                                    i.fas.fa-search()
                                input(type="hidden", name="_csrf", value=_csrf)
                        if isLoggedIn
                            li.main-nav__item--side.dropdown-parent
                                div.user__container
                                    img.contained__image(src="/images/user.png")
                                div.special-dropdown
                                    ul.special-dropdown__items
                                        li.dropdown__item
                                            a(href='/admin-movies') Movies
                                        li.dropdown__item
                                            a(href='/admin/logout') Log Out
                        else
                            li.main-nav__item--side
                                a(href="/admin/login") Login
            div.hamburger-content
                ul.hamburger-menu__items
                    form.hamburger-search__form(method="POST", action="/movie/search")
                        input.search-input(type="text", name="searchMovie", onkeyup="hamburgerSearchField(this)")
                        button.hamburger-search-button(type="submit", disabled)
                            i.fas.fa-search()
                        input(type="hidden", name="_csrf", value=_csrf)
                    li.hamburger-menu__item
                        a(href="/") Home
                    li.hamburger-menu__item.hamburger-menu__dropdown-parent
                        a() Category
                    li.hamburger-dropdown
                        ul.hamburger-dropdown__items
                            li.hamburger-dropdown__item
                                a(href='/movies/action') Action
                            li.hamburger-dropdown__item
                                a(href='/movies/horror') Horror
                            li.hamburger-dropdown__item
                                a(href='/movies/romantic') Romantic
                    if isLoggedIn
                        li.hamburger-menu__item
                            a(href="/add-movie") Add Movie
                        li.hamburger-menu__item
                            a(href='/admin-movies') Movies
                        li.hamburger-menu__item
                            a(href='/admin/logout') Log Out
            if !isLoggedIn
                div.user-login__icon
                    a(href="/admin/login")
                        i.fas.fa-user-circle.fa-2x()

        block content
        include ./footer.pug
        script(src="/js/main.js")
        script(src="/js/delete.js")